#white-line {
    top: 0px;
    position: fixed;
    height: 10px;
    width: 100%;

}

#title {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 30px;
    width: 100px;
    text-align: center;
    color: #fdf8d1;
    margin-right: 30px;
}

#navi {
    top: 10px;
    left: 0px;
    width: 100%;
    height: 40px;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    /*background-color: darkred;*/
    background-color: #b53351;
}

#label-search {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: initial;
    width: 130px;
    text-align: center;
    color: white;
    padding-top: 10px;
    margin-left: 60px;
}

.navi-button {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.navi-button:hover {
    background-color: #8f9798;
    cursor: pointer;
}

.search-element {
    font-family: 'Cabin', sans-serif;
    margin-top: 7px;
    height: 24px;
    background-color: #fdf8d1;
    /*color: white;*/
    border: none;
    /*border-left: 1px solid;*/
}

#option-search-element {
    width: 100px;
    height: 26px;
    margin-right: 10px;
    margin-left: 10px;
}